@import "../../variable.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  padding-top: 24px;
  .step_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      .text_circle {
        left: 0px;
      }
    }

    .text_value {
      text-transform: uppercase;
      color: $primaryTextColor;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .text_circle {
      position: relative;
      display: flex;

      flex-direction: row;
      align-items: center;
      left: 32px;
      margin-top: 8px;
      .done_icon {
        background-image: url("../../assests/icon/rightTick.webp") !important;
      }

      .step_circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $stepperLineColor;
        border: 1px solid $stepperLineColor;
      }
      .step_line {
        // position: relative;
        // left: -27px;
        // bottom: -10px;
        width: 74px;
        height: 1px;
        background: $stepperLineColor;
      }
    }
  }
  .ex_showroom_price_container {
    position: relative;
    left: 32px;
  }
}

.active_font {
  font-weight: 700 !important;
}
.active_circle {
  background: #ea3a51 !important;
  border: 1px solid #ea3a51 !important;
}
.active_line {
}
