$leftNavBar: #191919;
$rightNavBar: #676467;
$primaryTextColor: #ffffff;
$primaryBackgroundColor: #000000;
$SecondaryNaveBackgroundColor: #2c2c2c;
$singleVehicleBackgroundColor: #212121;
$stepperLineColor: #616161;
$footerBackgroundColor: #313131;
$btnActiveColor: #ea3a51;
$cardBackgroundColor: #333;
$colorTextColor: #313152;
$variantListColor: #707070;
$radioBtnBorder: #b2b2b2;
$inputDetialsBackground: #f7f7f7;
$checkboxBackgroundColor: #e0e3e3;
